@font-face {
  font-family: "Lemonada-Regular";
  src:url("assets/font/Lemonada-Regular.ttf");
}

input {
  text-align: center;
}

.row {
  width: 246px;
  margin-bottom: 10px;
}

.picked {
  color: blue;
}

.unpicked {
  color: black;
}

.row {
  float: left;
  width: 50%;
}

.center {
  text-align: center;
}

.player {
  background-color: rgba(255, 255, 255, .8);
  padding: 0 18px 1px 18px;
  margin-top: -50px;
  border-radius: 200px;
  overflow: hidden;
  height: 400px;
  position: relative;
  z-index: -1;
}

.hand {
  border-radius: 20px;
  overflow: hidden;
  height: 80px;
  position: relative;
  padding: 5px;
}

.hands {
  padding-top: 50px;
  padding-left: 160px;
  position: relative;
}

.handdiv {
  weight: 100px;
  float: left;
}

.score {
  font-family: "Lemonada-Regular";
  font-weight: 700;
  font-size: 70px;
  top: -80px;
}

.rate {
  font-family: "Lemonada-Regular";
  font-weight: 700;
  font-size: 100px;
  color: red;
  text-shadow: -5px 0 white;
}
