@font-face {
  font-family: "Roboto-Black";
  src: url("assets/font/Roboto-Black.ttf"); }

@font-face {
  font-family: "WeibeiTC-Bold";
  src: url("assets/font/WeibeiTC-Bold.otf"); }

@font-face {
  font-family: "to_hell_and_back";
  src: url("assets/font/to_hell_and_back.ttf\a"); }

input {
  text-align: center;
  margin-left: 80px; }

.winner {
  text-align: center;
  border-radius: 50%; }

.winner-text {
  font-family: "WeibeiTC-Bold";
  font-size: 300px;
  color: white;
  margin-top: -400px;
  margin-left: 50px; }

.money {
  font-family: "Roboto-Black";
  margin-left: 80px;
  margin-bottom: 10px; }

.money-button {
  font-size: 10px;
  margin-left: 10px;
  width: 50px;
  height: 30px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid black;
  color: black; }
  .money-button:hover {
    color: white;
    background: black; }

.row {
  width: 246px; }

.picked {
  color: blue; }

.unpicked {
  color: black; }

.row {
  float: left;
  width: 50%; }

.center {
  text-align: center;
  position: relative; }

.player {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 18px 0px 18px;
  margin-top: -30px;
  border-radius: 200px;
  overflow: hidden;
  height: 400px;
  position: relative;
  z-index: -1; }

.hand {
  border-radius: 20px;
  overflow: hidden;
  height: 80px;
  position: relative;
  padding: 5px; }

.hands {
  padding-top: 20px;
  padding-left: 200px;
  position: relative; }

.handdiv {
  weight: 100px;
  float: left; }

.score {
  font-family: "Roboto-Black";
  font-weight: 700;
  font-size: 70px;
  top: -80px;
  margin-left: 80px; }

.rate {
  font-family: "Roboto-Black";
  font-weight: 700;
  font-size: 100px;
  color: red;
  margin-left: 80px; }

.check {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -90px;
  margin-top: 530px;
  width: 180px;
  height: 80px;
  text-align: center;
  font-size: 22px;
  font-family: "to_hell_and_back"; }

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid red;
  color: red;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease; }
  button:hover {
    color: white;
    background: red; }
  button:active {
    letter-spacing: 2px; }
